{{- $src := .Destination | safeURL -}}
{{- $alt := .Text | plainify -}}
{{- $title := .Title -}}
{{- if and (eq $alt "") $title -}}
  {{- $alt = $title -}}
{{- end -}}
{{- $width := "" -}}
{{- $height := "" -}}

{{- $isRemote := or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}
{{- if not $isRemote -}}
  {{- $pageResource := .Page.Resources.GetMatch (printf "*%s*" (path.Base $src)) -}}
  {{- if $pageResource -}}
    {{- $width = $pageResource.Width -}}
    {{- $height = $pageResource.Height -}}
  {{- else -}}
    {{- $localPath := printf "static/%s" (replaceRE "^/" "" $src) -}}
    {{- if (fileExists $localPath) -}}
      {{- with (imageConfig $localPath) -}}
        {{- $width = .Width -}}
        {{- $height = .Height -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<img loading="lazy" decoding="async" src="{{ $src }}" alt="{{ $alt }}"{{ with $title }} title="{{ . }}"{{ end }}{{ if $width }} width="{{ $width }}" height="{{ $height }}"{{ end }} />
