{{- define "main" }}

{{- $tocPartial := trim (partial "toc.html" .) " \n\r\t" -}}
{{- $showToc := and (.Param "ShowToc") (ne $tocPartial "") -}}
<article class="post-single{{ if $showToc }} has-toc{{ end }}">
  <header class="post-header">
    <!-- 面包屑导航 -->
    {{ partial "breadcrumbs.html" . }}

    <!-- 标题 -->
    <h1 class="post-title entry-hint-parent">
      {{ .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h1>

    <!-- 描述 -->
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}

    <!-- 元数据 -->
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}

      <!-- Busuanzi 统计 -->
      {{ if .Site.Params.busuanzi.enable }}
      <div class="meta-item">&nbsp·&nbsp
        <span id="busuanzi_container_page_pv">Views:<span id="busuanzi_value_page_pv"></span></span>
      </div>
      {{- end }}
    </div>
    {{- end }}

    <!-- 分割线 -->
    <hr class="post-divider">
  </header>

  <!-- 封面 -->
  {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover1.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}

  <!-- 目录 -->
  {{- if $showToc }}
  <div class="post-toc">
    {{- $tocPartial | safeHTML }}
  </div>
  {{- end }}

  <!-- 正文内容 -->
  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <!-- Mermaid 图表支持 -->
  {{ if .Page.Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    let mermaidTheme = "default";
    if (localStorage.getItem("pref-theme") === "dark") {
      mermaidTheme = "dark";
    }
    mermaid.initialize({ startOnLoad: true, theme: mermaidTheme, });
  </script>
  {{ end }}

  <footer class="post-footer">
    <!-- 标签 -->
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>

    <!-- 评论功能
    {{ if .Params.comments }}
    {{ partial "comments.html" . }}
    {{ end }} -->

    <!-- 上下篇导航 -->
    {{- if (.Param "ShowPostNavLinks") }}
    <div class="post-nav-links">
      {{- partial "post_nav_links.html" . }}
    </div>
    {{- end }}

    <!-- 分享按钮 -->
    {{- if (and site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    <div class="post-share-icons">
      {{- partial "share_icons.html" . -}}
    </div>
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
