{{- /* Head custom content area start */ -}}
{{- /* Insert any custom code (web-analytics, resources, etc.) - it will appear in the section of every page. */ -}}
{{- /* Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{- $preconnect := slice "https://fonts.cdnfonts.com" "https://fonts.googleapis.com" "https://fonts.gstatic.com" -}}
{{- with site.Config.Services.GoogleAnalytics.ID -}}
    {{- $preconnect = $preconnect | append "https://www.googletagmanager.com" "https://www.google-analytics.com" -}}
{{- end -}}
{{- range $preconnect }}
<link rel="preconnect" href="{{ . }}" crossorigin>
{{- end }}

<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/code-new-roman">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&family=Noto+Sans+SC:wght@400;500;600;700&display=swap">
