{{- $ogTitle := .Title | plainify -}}
{{- $ogDescription := "" -}}
{{- with .Description -}}
  {{- $ogDescription = . -}}
{{- else -}}
  {{- if .IsPage -}}
    {{- $ogDescription = .Summary -}}
  {{- else -}}
    {{- with site.Params.description -}}
      {{- $ogDescription = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $ogDescription = $ogDescription | plainify | htmlUnescape | strings.TrimSpace -}}
{{- if gt (len $ogDescription) 160 -}}
  {{- $ogDescription = $ogDescription | truncate 160 -}}
{{- end -}}
<meta property="og:title" content="{{ $ogTitle }}" />
<meta property="og:description" content="{{ $ogDescription }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ site.Title }}" />
<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
{{- range .AllTranslations }}
<meta property="og:locale:alternate" content="{{ .Language.Lang }}" />
{{- end }}

{{- if .Params.cover.image -}}
  {{- if (ne .Params.cover.relative true) -}}
<meta property="og:image" content="{{ .Params.cover.image | absURL }}" />
  {{- else -}}
<meta property="og:image" content="{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}" />
  {{- end -}}
{{- else -}}
  {{- with $.Params.images -}}
    {{- range first 6 . -}}
<meta property="og:image" content="{{ . | absURL }}" />
    {{- end -}}
  {{- else -}}
    {{- $images := $.Resources.ByType "image" -}}
    {{- $featured := $images.GetMatch "*feature*" -}}
    {{- if not $featured -}}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{- end -}}
    {{- with $featured -}}
<meta property="og:image" content="{{ $featured.Permalink }}" />
    {{- else -}}
      {{- with site.Params.images -}}
<meta property="og:image" content="{{ index . 0 | absURL }}" />
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
<meta property="article:section" content="{{ .Section }}" />
  {{- with .PublishDate }}
<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{- end }}
  {{- with .Lastmod }}
<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  {{- end }}
{{- end -}}
